/*--------Botoes----------*/

.saudacao {
    display: flex;
    margin-left: 150px;
    margin-top: 30px;
}

.dados {
    display: flex;
    justify-content: space-between;
}

.buttons-top {
    margin-left: 150px;
}

.buttons-top .owner-button, .boat-button, .trip-button {
    text-align: center;

    width: 150px;
    height: 40px;

    margin-right: 20px;
    background-color: #85BEAB;
    border: #85BEAB;
    border-radius: 10px;

    font-size: 19px;
    color: #ffffff;
    font-weight: bold;

    transition: 0.2s;
}

.buttons-top .owner-button:hover, .boat-button:hover, .trip-button:hover {
    background-color: #d9d9d9;
    border: #d9d9d9;
    color: #000000;
}

/*------Barra de Busca------*/

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 90px;
}

.search-bar button {
    background-color: white;
    border: none;
    margin-left: 10px;
}
.search-bar input {
    width: 70%;
}
.search-bar img {
    height: 30px;
}


/*------Card Embarcação------*/

.boats {
    display: flex;
    justify-content: center;
}

.boat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 1000px;
    height: 100px;
    padding: 20px;
    
    border: solid 2px;
    border-color: #508364;
    border-radius: 10px;

    margin-top: 20px;
}

.boat .num_identification {
    border: solid 2px;
    border-color: #508364;
    border-radius: 7px;
    padding: 25px;
}

.boat_photo {
    width: 120px;
    margin-left: 0px;
}

.boat strong {
    display: flex;
    justify-self: center;
}

.buttons-boat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boat-trips-button, .delete-boat-button, .edit-boat-button, .trips-button {
    height: 60px;
    width: 60px;

    border: solid 2px;
    border-color: #508364;
    border-radius: 7px;

    margin-left: 10px;
}

.boat-trips-button img, .delete-boat-button img, .edit-boat-button img, .trips-button img {
    height: 40px;
}

.boat-trips-button:hover, .delete-boat-button:hover, .edit-boat-button:hover, .trips-button:hover { 
    background-color:#d9d9d9;
    opacity:0.8;
}