/*--------------- SEARCH PAGE ---------------*/

#busca-indisponivel {
    width: 100%;
    height: 100%;

    position: relative;
    justify-content: center;
}

/*--------------- SEARCH ----------------*/

.search {
    background-color: #85BEAB;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search p {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}

/*---------------- SEARCH LABELS ---------------*/

.labels {
    margin-top: 4%;
    padding-left: 15%;
}

.search .labels label {
    font-size: 16px;
    color: #ffffff;
}

.search .labels #destination, .search .labels #day {
    margin-left: 21.2%;
}

/*---------------- SEARCH INPUTS ---------------*/

.search .input-block {
    color: #ffffff;
    padding-left: 13%;
    padding-top: 5px;
    margin-bottom: 4%;
}

.search .input-block input {
    border-radius: 8px;
    border-color: transparent;
    padding: 0.3%;
    margin-left: 30px;
    outline-style: none;
}

.search .input-block #destination, #day{
    margin-left: 4%;
}

.input-block::placeholder {
    color: grey;
}

.search .input-block button {
    background-color: whitesmoke;
    border-radius: 7px;
    padding: 0.5%;
    margin-left: 2%;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.707);
    font-size: 16px;
    outline-style: none;
}

.search .input-block button:hover {
    opacity: 0.7;
}

/*---------------- TEXT MESSAGE ---------------*/

.unavailable {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: larger;
    font-weight: bold;
    color: rgb(130, 129, 129);
}
