.top-bar .header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 100%;
}

.top-bar .header .img-logo {
    display: flex;
    align-items: center;
    margin-left: 6%;
}

.top-bar .header .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    margin-right: 6%;
}


.mais-vendidas-link, .login-link, .sobre-link, .ajuda-link, .home-link, .registration-link, .logout-link, .perfil-link, .pagina-inicial-link, .minhas-passagens-link, .inicio-link, .sair-link, .proprietario-link {
    color: #508364;
    text-decoration: none;
    font-weight: normal;

 
    font-size: 20px;

    display: flex;
    flex-direction: column;

    text-align: right;
}

.pagina-inicial-link {
    margin-right: 27.3%;
}

.proprietario-link {
    margin-right: 24%;
}

.inicio-link {
    margin-right: 17%;
}

.sair-link {
    margin-right: 11.5%;
}

.registration-link {
    margin-right: 18%;

}

.mais-vendidas-link, .login-link, .sobre-link, .home-link, .registration-link, .logout-link, .perfil-link, .pagina-inicial-link, .minhas-passagens-link  {
    margin-right: 3%;
}

.inicio-link{
    margin-right: 7%;
}

.proprietario-link{
    margin-right: 8%;
}

.home-link:hover,
.mais-vendidas-link:hover,
.login-link:hover,
.sobre-link:hover,
.ajuda-link:hover,
.perfil-link:hover,
.inicio-link:hover,
.sair-link:hover,
.proprietario-link:hover,
.registration-link:hover, 
.logout-link:hover, 
.pagina-inicial-link:hover, 
.minhas-passagens-link:hover
{
    text-decoration: underline;
    color: #85BEAB;
}

.top-bar .field {
    width: 100%;
    background: #508364;
    text-align: right;
}

.top-bar .field p {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 12%;
    padding-top: 0.1%;

}
