.top-bar .header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 100%;
}

.top-bar .header .img-logo {
    display: flex;
    align-items: center;
    margin-left: 6%;
}

.top-bar .header .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    margin-right: 6%;
}

.mais-vendidas-link, .login-link, .sobre-link, .ajuda-link, .home-link, .registration-link, .logout-link, .perfil-link, .pagina-inicial-link, .minhas-passagens-link {
    color: #508364;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
}

.mais-vendidas-link, .login-link, .sobre-link, .home-link, .registration-link, .logout-link, .perfil-link, .pagina-inicial-link, .minhas-passagens-link  {
    margin-right: 3%;
}

.home-link:hover,
.mais-vendidas-link:hover,
.login-link:hover,
.sobre-link:hover,
.ajuda-link:hover,
.perfil-link:hover,
.registration-link:hover, .logout-link:hover, .pagina-inicial-link:hover, .minhas-passagens-link:hover
{
    text-decoration: underline;
    color: #85BEAB;
}

.top-bar .field {
    width: 100%;
    background: #508364;
    text-align: right;
}

.top-bar .field p {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 6%;
    padding-top: 0.1%;
}
