/*--------------- HOME PAGE ---------------*/

#home-page {
    width: 100%;
    height: 100%;

    position: relative;
    justify-content: center;
}

/*--------------- CAROUSEL ---------------*/

.carousel .carousel-provider .button {
    position: absolute;
    background-color: transparent;
    color: #ffffff;
    width: 2%;
    height: 6%;
    border: none !important;
    font-size: 50px;
    z-index: 1;
    top: 17%;
    outline-style: none;
}

.carousel .carousel-provider .button-back {
    left: 3%;
}

.carousel .carousel-provider .button-next {
    left: 95%;
}

.carousel .carousel-provider .slider .slide img{
    width: 100%;
}

/*--------------- SEARCH ----------------*/

#home-page .search {
    background-color: #85BEAB;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#home-page .search p {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}

/*---------------- SEARCH LABELS ---------------*/

.search .labels {
    margin-top: 4%;
    padding-left: 15%;
}

.search .labels label {
    font-size: 16px;
    color: #ffffff;
}

.search .labels #destination, .search .labels #day {
    margin-left: 21.2%;
}

/*---------------- SEARCH INPUTS ---------------*/

.search .input-block {
    color: #ffffff;
    padding-left: 13%;
    padding-top: 5px;
    margin-bottom: 4%;
}

.search .input-block input {
    border-radius: 8px;
    border-color: transparent;
    padding: 0.3%;
    margin-left: 30px;
    outline-style: none;
}

.search .input-block #destination, #day{
    margin-left: 4%;
}

.input-block::placeholder {
    color: grey;
}

.search .input-block button {
    background-color: whitesmoke;
    border-radius: 7px;
    padding: 0.5%;
    margin-left: 2%;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.707);
    font-size: 16px;
    outline-style: none;
}

.search .input-block button:hover {
    opacity: 0.7;
}

/*--------------- CARDS ---------------*/

.cards .space {
    height: 30px;
}

#home-page .cards h3 {
    color: #508364;
    margin-top: 3%;
    text-align: center;
}

.cards .card {
    width: 20%;
    border-radius: 6px;
    margin-left: 20.5%;
    border: 1px solid#6D6D6D;
}

.cards .card h4 {
    color: #508364;
    text-align: center;
    margin-top: 12px;
    font-style: italic;
}

.cards .card .img-barco {
    width: 97%;
    margin-left: 4.2px;
    
}

.cards .card h5 {
    color: black;
    text-align: left;
    margin-top: 12px;
    margin-left: 4%;
    font-weight: lighter;
    font-size: 14pt;
}

.cards .card p {
    font-size:14px;
    text-align: left;
    margin-left: 4%;
}

.cards .card button {
    background-color:#21A780;
    border-color:#21A780;
    border-radius: 7px;
    color: #ffffff;
    font-size: 14px;
    margin-left: 35.5%;
    padding: 3.5%;
    outline-style: none;
}

.cards .card .space {
    height: 15px;
}


