.carrinho-titulo {
    margin-top: 20px;
    color: #508364;
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}

.card-carrinho {
	margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #85BEAB;
}

.tittle-card-carrinho {
	margin-bottom: 20px;
}

.hr-carrinho{
	margin-top: 1rem;
	margin-bottom: 1rem;
    border: 0;
	border-top: 1px solid #85beab;
	box-sizing: content-box;
  	height: 0;
  	overflow: visible;
}

.card-ingressos {
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.table-carrinho {
    width: 160%;
    column-gap: 30px;
}

.divider {
    width: 30px;
}