/* Header */

.menu {
    height: 90px;
    background-color: #ffffff;
}

.menu-seguimento {
    height: 30px;
    background-color: #508364;
}

.logo {
    width: 25%;
}

.texto-menu {
    color: #508364;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.texto-menu:hover {
    color: #85BEAB;
    font-size: 18px;
}

.texto-seguimento {
    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3.5px;
}

/* Passagens e Total*/
.carrinho-titulo {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #508364;
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}

.passagens {
    border: 2px solid #85BEAB;
    width: 800px;
    height: 125px;
}

.bloco {
    height: 125px;
}

.bloco + .bloco {
    margin-top: 20px;
}

.card-img-top {
    width: 120px;
    height: 90px;
    margin-top: -5px;
}

.total {
    border: 2px solid #85BEAB;
    width: 300px;
}

.space {
    height: 30px;
}

.botao {
    margin-top: 20px;
    background-color: #508364;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: bolder;
    width: 250px;
}


/* Formas de Pagamento */

.hr-carrinho{
	margin-top: 1rem;
	margin-bottom: 1rem;
    border: 0;
	border-top: 1px solid #85beab;
	box-sizing: content-box;
  	height: 0;
  	overflow: visible;
}

.card-boleto {
    width: 700px;
	margin-top: 30px;
    padding: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #85BEAB;
}

.card-cartao {
    width: 700px;
	margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #85BEAB;
}

.card-cartao h4 {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.cartao-campos input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-cartao {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.distance {
    width: 20px;
}

.botao-pagamento {
    margin-left: 30px;
    background-color: #508364;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: bolder;
    width: 250px;
}

/*---------Rodapé---------*/

.rodape {
    height: 100px;
    background-color: #508364;
}
.rodape-linhas {
    border: 1px solid;
    border-top-color: #ffffff;
    border-left-color: #508364;
    border-right-color: #508364;
    border-bottom-color: #ffffff;
}

.texto-rodape {
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.icons {
    width: 3%;
    height: 3%;
}