.search-bar {
    background-color: #85BEAB;
    height: 200px;
}

.search-bar h3 {
    display: flex;
    justify-content: center;
    color: white;
}

.form-group input, button{
    margin-top: 10px;
    margin-left: 80px;
}

.form-group label {
    margin-top: 40px;
    margin-left: 80px;
    color: white;
    font-size: 18px;
}