#background {
    background-image: url("/src/public/img/slide-1-teste.jpg");
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.card p, h5 {
    display: flex;
    justify-content: center;
}

.title-form-cadastro {
    margin-bottom: 20px;
}

#button-send {
    margin-top: 20px;
    background-color: rgb(133, 190, 171)
}