.texto-nome {
    margin-left: 120px;
    color: #ffffff;
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}

.nome-cliente {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #508364;
}