#home-page {
    width: 100%;
    height: 100%;

    position: relative;
    justify-content: center;
}

.carousel .carousel-provider .button-back {
    position: absolute;
    background-color: transparent;
    color: #ffffff;
    border-radius: 7px;
    width: 2%;
    height: 6%;
    border: none;
    font-size: 50px;
    z-index: 1;
    left: 3%;
    top: 22%;
    overflow: hidden;
}

.carousel .carousel-provider .button-next {
    position: absolute;
    background-color:transparent;
    color: #ffffff;
    border-radius: 7px;
    width: 2%;
    height: 6%;
    border: none;
    font-size: 50px;
    z-index: 1;
    left: 95%;
    top: 22%;
    overflow: hidden;
}

#home-page .search {
    background-color: #85BEAB;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home-page .search p {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;

}

.search .input-block {
    position: absolute;
    color: #ffffff;
    justify-content: left;
    top: 47%;
    left: 18%;
}

.search .input-block label {
    position: absolute;
    bottom: 110%;
    font-size: 16px;
}

.search .input-block input {
    width: 80%;
}

.search .input-block1 {
    position: absolute;
    color: #ffffff;
    justify-content: left;
    top: 47%;
    left: 38%;
}

.search .input-block1 label {
    position: absolute;
    bottom: 110%;
    font-size: 16px;
}

.search .input-block1 input {
    width: 80%;
}

.search .input-block2 {
    position: absolute;
    color: #ffffff;
    justify-content: left;
    top: 47%;
    left: 58%;
}

.search .input-block2 label {
    position: absolute;
    bottom: 110%;
    font-size: 16px;
}

.search .input-block2 input {
    width: 60%;
}

.search button {
    position: absolute;
    right: 22%;
    top: 46.5%;
    background-color: whitesmoke;
    border-radius: 7px;
    padding: 0.5%;
    border-color: transparent;
    color: grey;
    font-size: 16px;
}

.cards .space {
    height: 30px;
}

#home-page .cards h3 {
    color: #508364;
    margin-top: 3%;
    text-align: center;
}

.cards .card {
    width: 18%;
    box-shadow: 5px 5px #85BEAB;
    border-radius: 6px;
    margin-left: 10%;
    border: 1px solid #508364;
}

.cards .card h4 {
    color: #508364;
    text-align: center;
}

.cards .card .img-barco {
    width: 100%;
}

.cards .card h5 {
    color: #508364;
    text-align: center;
}

.cards .card p {
    font-size:14px;
    text-align: center;
}

.cards .card button {
    background-color: whitesmoke;
    border-radius: 7px;
    color: gray ;
    font-size: 14px;
    margin-left: 35.5%;
    padding: 2%;
}

.cards .card .space {
    height: 15px;
}

